body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}

#main-title {
    color: white;
    font-family: 'Merienda', cursive;
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 20vh;
}

.videoembed {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-bottom: 5rem;
}

.ytvideo {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sales-pitch {
    color: white;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.steam-embed {
    width: 100%;
    height: 250px;
}

.foot-container {
    background-image: linear-gradient( 0deg, rgba(25,38,56,1) 50%, rgba(100,43,237,0) 100% );
    height: 7rem;
    display: flex;
    align-items: flex-end;
}

.foot-div {
    height: 100%;
}

.foot-text {
    color:darkgrey;
    font-size: large;
    bottom: 10px;
}

.foot-right {
    right: 0;
    width: fit-content;
}

@media (max-width: 575px) {
    
    #main-title {
        font-size: 3rem;
    }

    .sales-pitch {
        font-size: 18px;
        line-height: 3rem;
    }

    .foot-right {
        order: -1;
    }

    .foot-container {
        height: 9rem;
    }

}

@media (min-width: 576px) {
    
    #main-title {
        font-size: 5rem;
    }

    .sales-pitch {
        font-size: 30px;
        line-height: 4rem;
    }   

}

@media (min-width: 1200px) {
    
    #main-title {
        font-size: 10rem;
    }

    .sales-pitch {
        line-height: calc(3rem + 2vw);
        font-size: 2vw;
    }

}
