body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}

#main-title {
    color: white;
    font-family: 'Merienda', cursive;
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 20vh;
}

.videoembed {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-bottom: 5rem;
}

.ytvideo {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sales-pitch {
    font-size: 2vw;
    color: white;
    text-align: center;
    font-family: 'Merienda', cursive;
    line-height: 6rem;
}

.steam-embed {
    width: 100%;
    height: 250px;
}

@media (max-width: 575px) {
    
    #main-title {
        font-size: 3rem;
    }

}

@media (min-width: 576px) {
    
    #main-title {
        font-size: 5rem;
    }

}

@media (min-width: 1200px) {
    
    #main-title {
        font-size: 10rem;
    }

}
